.body {
  margin: auto;
  background-color: antiquewhite;
  background-image: url(backgroun\ texure.png);
  background-size: contain;
}

#navbar {
  height: auto;
  width: 100%;
  position: sticky;
  background-size: cover;
  background-position: left;
  z-index: 1;
  pointer-events: none;
}

.imageContainer {
  position: relative;
  display: inline-block;
}

.imageContainer img {
  width: 100%;
  height: auto;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -25px;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: -11%;
  left: 0;
  width: 100%;
  height: 110%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 1%, transparent, transparent, transparent, transparent);
}

.overlay0 {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 110%;
  background: linear-gradient(to top, rgb(251, 235, 216) 1%,transparent, transparent, transparent, transparent, transparent, transparent, transparent);
}

#text0 {
  font-size: 4vw;
  font-family: 'Sunday Sport', sans-serif;
  color: white;
  position: absolute;
  padding-top: 30%;
  z-index: 2;
}

#text1 {
  font-size: 2.7vw;
  font-family: 'Sunday Sport', sans-serif;
  text-align: justify;
  color: black;
  position: absolute;
  left: 63%;
  padding-top: 13%;
  z-index: 2;
  max-width: 33%;
}

#text2 {
  font-size: 3vw;
  font-family: 'Sunday Sport', sans-serif;
  text-align: justify;
  color: black;
  position: absolute;
  left: 4%;
  padding-top: 20%;
  z-index: 2;
  max-width: 40%;
}

#text3 {
  font-size: 3vw;
  font-family: 'Sunday Sport', sans-serif;
  text-align: justify;
  color: black;
  position: absolute;
  left: 38%;
  padding-top: 20%;
  z-index: 2;
  max-width: 57%;
}

#text4 {
  font-size: 3vw;
  font-family: 'Sunday Sport', sans-serif;
  text-align: justify;
  color: black;
  position: absolute;
  left: 4%;
  padding-top: 14%;
  z-index: 2;
  max-width: 55%;
}

#text5 {
  font-size: 3vw;
  font-family: 'Sunday Sport', sans-serif;
  text-align: justify;
  color: black;
  position: static;
  left: 2%;
  padding: 1vw;
  padding-top: 5%;
  padding-bottom: 7%;
  z-index: 2;
}

#text6 {
  font-size: 1.7vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: black;
  padding-top: 2%;
  z-index: 2;
}

#footer {
  background-image:
    /*linear-gradient(to bottom, rgb(251, 235, 216), transparent, transparent,transparent),*/
    url(header.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  padding-bottom: 4vw;
  height: 2vw;
}

#zombieCar {
  height: auto;
  width: 100%;
  position: relative;
  /*background: url('zombies\ car.png');*/
  background-size: cover;
}

#zombieBomb {
  height: auto;
  width: 100%;
  position: relative;
  /*background: url('bomb\ zombie.png');*/
  background-size: cover;
}

#zombieKaren {
  height: auto;
  width: 100%;
  position: relative;

  /*background: url('zombies\ Karen.png');*/
  background-size: cover;
  margin-top: 40px;
}

#zombieWondring {
  height: auto;
  width: 100%;
  position: relative;
  /*background: url('zombies\ wondering.png');*/
  background-size: cover;
  margin-top: 40px;
}

/*.ss {
  font-size: 20px;
  font-style: italic;
  background: linear-gradient(white, gray, white);
  position: sticky;
  top: 0px;
  margin: -8px;
}

.menu {
  padding: 0px;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  margin: auto;
}

a span {
  float: right;
  padding: 4px;
  padding-top: 40px;
  border-left: 1px solid gray;
  min-width: 50px;
  color: khaki;
  text-align: center;
  z-index: 0;
  top: 0px;
}

a:link {
  color: white;
}

a span:hover {
  background: linear-gradient(#4E4F58, #AAAEDB00);
}

a span:active {
  color: dimgrey;
  background: linear-gradient(black, #AAAEDB00);
}*/